<h1>Index page for posts</h1>

<%= link_to "Create a new post",  new_post_path %>

<% @post_items.each do |post| %>
<h2><%=  link_to post.title, post_show_path(post)  %></h2>
<p><%=  post.body  %></p>
<%= link_to "Edit post", edit_post_path(post) %>
<% end %>
